@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Oswald:wght@300;400&display=swap');



					/* ------------ HEADER ------------ */


* {
	box-sizing: border-box;
	font-family: Finger Paint;
	
}


.head-wrap{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(215,253,240,0.1),rgba(215,253,240,0.1)), url('images/olga-ga-IQMCYVVa2Wc-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	padding-left: 3%;
	padding-right: 3%;
}

.navbar {
	height: 19%;
	display: flex;
	align-items: center;
	
}

.logo{
	width: 90px;
	cursor: pointer;
	
}


.menu{
	flex: 1;
	text-align: right;
	
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
}

.menu ul li a{
	text-decoration: none;
	color: #FFEFD3;
	font-size: 15px;
	border: solid #FFEFD3;
	border-radius: 2px;
	padding: 10px;
	font-family: Finger Paint;
}

.menu li a{
		transition: all 0.8 ease 0s;
	}

.menu li a:hover {
	color: #001B2E;
	background-color: #F3FAFF;
}



@media (max-width: 640px) {

	.logo {
		width: 70px;
		padding: 10px;
	}

	.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 100px;
	}
	
	ul {
		padding: 13px;
		padding-bottom: 0px;
		list-style: none;
		display: grid;
		margin-top: -12px;
		font-size: 20px;
		margin-left: -113px;
		margin-right: -109px;
	}

	.menu ul li a {
		text-decoration: none;
		color: #FFEFD3;
		font-size: 15px;
		border: solid #FFEFD3;
		border-radius: 5px;
		padding: 5px;
		font-family: Finger Paint;
	}

	.menu ul li {
		list-style: none;
		display: inline-block;
		margin-left: auto;
		padding: 8px;
		margin-right: auto;
		margin-bottom: 3px;
	}

	.btn {
		margin-left: 50px;
	}

	.hero-caption {
		display: flex;
		justify-content: flex-start;
		height: 60%;
		align-items: center;
		font-family: Finger Paint;
		font-size: 30px;
		color: #FFEFD3;
	}
}

.btn {
	margin-left: 100px;
}




.hero-caption {
	display: flex;
	justify-content: center;
	height: 75%;
	align-items: center;
	font-family: Finger Paint;
	font-size: 30px;
	color: #FFEFD3;
	
}

.hero.title {
	flex-basis: 50%;
}

h1 {
	font-family: Finger Paint;
	font-size: 30px;
	padding-bottom: 30px;
}

p {
	font-family: Oswald;
	font-size: 20px;
	padding-bottom: 15px;
}

.btn {
	padding: 15px;
	font-size: 15px;
	background-color: transparent;
	margin-left: 80px;
	
}

button {
	cursor: pointer;
	border: solid #FFEFD3;
	background-color: transparent;
	color: #FFEFD3;
	border-radius: 5px;
	font-family: Finger Paint;

}

button:hover {
	color: #001B2E;
	background-color: #F3FAFF;
}


						/* ----------- HEADER ------------ */



						/* ----------- MAIN ------------ */



.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3FAFF;
  font-family: Finger Paint;
}

.hero-slider{
  position: relative;
  background: #F3FAFF;
  width: 1200px;
  min-height: 500px;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.hero-slider .slide{
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.hero-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.hero-slider .slide img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-slider .slide .info{
  position: absolute;
  color: #04395E	 ;
  background: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin-top: 29px;
  margin-left: 41px;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.hero-slider .slide .info h2 h3{
  font-size: 2em;
  font-weight: 800;
  font-family: Finger Paint;
  
}

.hero-slider .slide .info p{
  font-size: 3em;
  font-weight: 400;
  font-family: Oswald;
  padding-bottom: 20px;
}

.navigation{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hero-slider:hover .navigation{
  opacity: 1;
}

.prev-btn, .next-btn{
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility{
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon{
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active{
  background: #4285F4;
}

@media (max-width: 900px){
  .hero-slider{
    width: 100%;
  }

  .hero-slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 640px){
  .hero-slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .hero-slider .slide .info p{
    font-size: 0.9em;
  }
}